<nav class="navbar navbar-expand-lg bg-black " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand " href="{{path('app_home')}}">GARAGE GAUDIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">prestations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('App_vehicules')}}">vehicules occasion</a>
        </li>
        <a class="nav-link" href="{{path('page_contact')}}"> contact</a>
        <li>
        </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>